body{
    text-transform: uppercase;
}
#RSVP-Form{
    text-align: center;
}
#form-container{
    display: none
}
#thankYouContainer{
    display: none;
}
body{
    font-family: 'Abel', sans-serif;
    text-align: center;
    min-height: 100%;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.headlines{
    margin-top:2%;
    margin-bottom:2%;
}
#headline1{
    margin-top:1%;
}
.separator{
    height:1px;
    width:70%;
    background-color: black;
    margin: auto;
}
.gold{
    color:#D6B651;
    display: inline;
}
#request-rsvp{
    background-color: #D6B651;;
    border:1px solid #D6B651;;
}

.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}
.avatar{
    height:100px;
}
.avatarDiv{
    width:auto;
    justify-content: center;
}
.avatarRow{
    justify-content: center;  
}
#invitationPage{
    margin-top:5%;
}
#RSVP-submit{
    background-color: #D6B651;;
    border:1px solid #D6B651;; 
    margin-bottom:5%;
}
#spinner{

    display:none;
    margin: auto;
}
#spinnerCol{
    margin-top:10%;
}
#errorContainer{
    margin-top:10%;
    display: none;
}
#thankYouContainer{
    margin-top:10%;
}
#background{
   
    min-height:100%;
    width:96%;
    background-color: rgba(255, 255, 255, .9);
    z-index: -10;;
    margin-left:2%;
    border-radius: 5px;;
}

#myVideo {
height:250px;

  }

  #notice{
    color:red;
  }

